<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
    <h3>Список пользователей:</h3>
    <table>
        <tbody>
            <div th:each="user : ${allUsers}">
                <tr>
                    <td>
                        <a th:href="@{/list/user/{id}(id=${user.getId()})}" th:text="${user.getSurname()} + ' ' + ${user.getName()}"></a>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
    <br>
    <div sec:authorize="hasRole('HR')">
    <form th:action="@{/list/new}">
        <input type="submit" value="Добавить нового пользователя"/>
    </form>
    <br>
    <form th:action="@{/list/avg_salary}">
        <input type="submit" value="Пользователи с з.п. выше средней"/>
    </form>
    </div>
</body>
</html>